*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    z-index: -4;
    font-family: 'Kanit', sans-serif;
    cursor: default;
    overflow-y: hidden;
    background-color: black;
}
.cabeçalho{
    position: absolute;
    z-index: 10;
}
header{
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 62px;
    position: fixed;
    z-index: 25;
    overflow: hidden;
    border-radius: 1px;
    border-bottom: 1px solid rgb(105, 103, 103);
}
.logoheader{
    position: absolute;
    left: 35px;
    top: 10px;
}
.home{
    position: absolute;
    text-decoration: none;
    right: 45px;
    top: 12px;
    color: rgb(239, 231, 241);
    transition: all 0.3s;
    font-size: 14px;
 }
.home:hover{
        color: rgba(235, 21, 21, 0.692);
        -webkit-filter: drop-shadow(3px 3px 10px rgba(235, 21, 21, 0.692));
        font-size: 15px;
}
.voltar{
    z-index: 10;
    position: absolute;
    top: 155px;
    left: 36px;
}
.cards{
    position: absolute;
    width: 1500px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: 320px;
}
.cards a{
    position: relative;
    margin: 40px;
    width: 250px;
    height: 175px;
    border: 2px solid white;
    transition: 350ms;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.cards a:hover{
    margin-bottom: 70px;
}
.steam{
    background: linear-gradient(rgb(9, 147, 233),rgb(7, 49, 75) );
}
.steam:hover{
    filter: saturate(1.6);
    filter: brightness(1.3);
}
.xbox{
    background: linear-gradient(rgb(15, 221, 118),rgb(5, 49, 25));
}
.xbox:hover{
    filter: saturate(1.6);
    filter: brightness(1.3);
}
.switch{
    background: linear-gradient(rgb(185, 13, 56), rgb(151, 14, 26));
}
.switch:hover{
    filter: saturate(1.6);
    filter: brightness(1.5);
}
.ps4{
    background: linear-gradient(rgb(30, 27, 190), rgb(1, 1, 82));
}
.ps4:hover{
    filter: saturate(1.6);
    filter: brightness(1.5);
}
.cards img:hover{
    opacity: 0.9;
}
.fundojogar{
    position: absolute;
    opacity: 0.6;
    z-index: -90;
}
.logojogar img{
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 200px;
}
.logojogar .p1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 385px;
    font-size: 40px;
    color: rgb(240, 227, 227);
    -webkit-filter: drop-shadow(2px 2px 1px rgba(110, 16, 110, 0.692));
}
.p2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;
    font-size: 25px;
    color: rgb(240, 227, 227);
    text-align: center;
}