*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    z-index: -4;
    background-color: rgb(22, 21, 21);
    font-family: 'Poppins', sans-serif;
    cursor: default;
}
.cabeçalho{
    position: absolute;
    z-index: 10;
}
header{
    width: 100%;
    background-color: rgb(10, 10, 10);
    height: 59px;
    position: fixed;
    z-index: 25;
    overflow: hidden;
    border-radius: 1px;
    border-bottom: 1px solid rgb(107, 16, 84);
}
.logoheader{
    position: absolute;
    left: 35px;
    top: 6px;
}
.home{
    position: absolute;
    text-decoration: none;
    right: 45px;
    top: 12px;
    color: rgb(239, 231, 241);
    transition: all 0.3s;
    font-size: 14px;
    }
    .home:hover{
        color: rgba(77, 17, 128, 0.692);
        -webkit-filter: drop-shadow(3px 3px 10px rgba(127, 17, 128, 0.692));
        font-size: 15px;
    }
.voltar{
    position: relative;
    top: 95px;
    left: 35px;
    transition: all 0.2s;
    display: inline-block;
    z-index: 10;
}
.voltar:hover{
    opacity: 0.6;
}
.stext{
    position: absolute;
    width: 100%;
    top: 1px;
    height: 900px;
    border: 2px solid rgba(97, 17, 128, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/gidcpx.gif);
    flex-direction: column;
}
.stext h2{
    color: rgba(220, 209, 235, 0.945);
    font-size: 32px;
    position: relative;
    left: 35px;
    letter-spacing: 2px;
    position: relative;
    font-style: italic;
    bottom: 25px;
}
.stext p{
    position: relative;
    display: inline-block;
    text-align: center;
    color: rgba(220, 209, 235, 0.945);
    font-size: 23px;
    left: 33px;
}
.stext img{
    position: relative;
    top: 200px;
    left: 27px;
}
.stext a{
    color: rgba(220, 209, 235, 0.945);
    font-size: 22px;
    position: relative;
    left: 367px;
    letter-spacing: 2px;
    position: relative;
    font-style: italic;
    text-decoration: none;
    top: 200px;
    transition: all 0.3s;
}
.stext a:hover{
    color: rgba(255, 255, 255, 0.945);
    font-size: 23px;
}
.p{
    height: 150px;
    width: 45%;
    left: 27px;
}
.subrodape{
    border-top: 2px solid rgba(97, 17, 128, 0.692);
    position: absolute;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: linear-gradient(rgb(14, 13, 13), rgb(17, 17, 17));
    top: 880px;
}

.subrodape a{
    position: absolute;
    color: #f0e7e7;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px;
    border: 2px solid rgb(97, 17, 128);
    border-radius: 25px;
    text-decoration: none;
    background: linear-gradient(rgb(14, 13, 13), rgb(17, 17, 17));
    overflow: hidden;
    text-decoration: none;
    font-size: 13px;
    z-index: 5;
    font-style: italic;
}
.subrodape a::before{
    content:"";
    width: 400%;
    height: 0;
    position: absolute;
    z-index: -1;
    background-color:rgba(97, 17, 128, 0.692);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-190deg);
    transition: all .6s;
}
.subrodape a:hover::before{
    height: 600%;
}
.subrodape a:hover{
    transition: all .5s;
    -webkit-filter: drop-shadow(1px 1px 15px rgba(97, 17, 128, 0.692));
}